body {
   margin: 0;
   padding: 0;
}

.wrapper{
	width: 100%;
	height: 100%;
}

.pdf-gray-bg{background-color:#AAA}
.pdf-page{border-bottom: 5px solid black}

/* Change page border properties here */
.pdf-page input::-webkit-outer-spin-button,.pdf-page input::-webkit-inner-spin-button{display:none;-webkit-appearance:none;margin:0}.pdf-page ::selection{background:rgba(0,100,255,0.3)}.pdf-page ::-moz-selection{background:rgba(0,100,255,0.3)}.pdf-page{background-color:white;display:block;width:100%;overflow:hidden;border-bottom:5px solid rgb(199,199,204)}.pdf-page .pdf-page-inner{transform-origin:0 0;transform:scale(1.0);background-repeat:no-repeat;background-size:contain}.pdf-page-text{width:100%;height:100%;padding:0;margin:0;box-sizing:content-box;position:absolute}.pdf-page-annots{width:100%;height:100%;padding:0;margin:0;box-sizing:content-box;position:absolute;pointer-events:none}.pdf-page-text div{position:absolute;display:block}.pdf-obj-fixed span{padding:0;margin:0;cursor:text;color:transparent;font-family:sans-serif;direction:ltr;white-space:nowrap;text-shadow:none}.pdf-page .pdf-obj-fixed{display:flex;position:absolute;box-sizing:border-box}.pdf-page .ff-ss{font-family:sans-serif}.pdf-page .ff-s{font-family:serif}.pdf-page .ff-m{font-family:monospace}.pdf-page .acroform-field{background-color:rgba(210,230,250,0.29);border:0;pointer-events:auto}.pdf-page .pdf-annot{pointer-events:auto}.pdf-page textarea{resize:none;padding:0}.pdf-page input{padding:0}.pdf-page select{padding:0}.pdf-page.responsive select{padding:0 1px;min-width:100px}.pdf-page.responsive input{padding:0 1px;min-width:100px}.pdf-page.responsive input[type=checkbox]{min-width:20px}.pdf-page.responsive textarea{padding:0 1px;min-width:100px}.pdf-page.responsive{text-align:left}.pdf-page.responsive p{white-space:pre-wrap;word-wrap:break-word;margin:0}.pdf-page.responsive .aleft{text-align:left}.pdf-page.responsive .aright{text-align:right}.pdf-page.responsive .acenter{text-align:center}.pdf-page.responsive .atop{vertical-align:top}.pdf-page.responsive .abottom{vertical-align:bottom}.pdf-page.responsive .amiddle{vertical-align:middle}.pdf-page.responsive .pde-table{overflow-x:auto;margin:.3em 0 .7em 0;padding-right:1px;max-width:100%}.pdf-page.responsive .pde-text{margin:.3em 0 .7em 0}.pdf-page.responsive table{width:100%;border-width:0;border-style:solid;border-color:black;border-collapse:collapse;padding:1px}.pdf-page.responsive td.bl{border-left-width:1px;border-left-style:solid}.pdf-page.responsive td.br{border-right-width:1px;border-right-style:solid}.pdf-page.responsive td.bt{border-top-width:1px;border-top-style:solid}.pdf-page.responsive td.bb{border-bottom-width:1px;border-bottom-style:solid}.pdf-page.responsive td{padding:5px;vertical-align:top}.pdf-page.responsive{font-size:14px;line-height:1.2}.pdf-page.responsive{background-color:white;font-weight:400;line-height:1.45;color:#000}.pdf-page.responsive .title{font-size:250%}.pdf-page.responsive .pde-table-form td{padding:0 1px}.pdf-page.responsive .dropcap{float:left;font-weight:bold;font-size:60px;line-height:55px;padding-top:4px;padding-right:8px;padding-left:2px}.pdf-page.responsive .pde-line{display:block;height:1px;margin:.3em 0 .7em 0}.pdf-page.responsive table{font-size:90%}.pdf-page.responsive table p{font-size:inherit}.pdf-page.responsive table .pde-text{margin:0}.pdf-page.responsive table .pde-image{padding-top:0;padding-bottom:0;max-width:100%}.pdf-page.responsive .pde-image{max-width:100%;margin-top:5px;padding-top:5px;padding-bottom:5px}.pdf-page.responsive .pde-image-inner{background-repeat:no-repeat;background-size:contain}.pdf-page.responsive .pde-image-inner img{width:100%}.pdf-page.responsive .pde-image-childs{width:100%;height:100%}.pdf-page.responsive .pde-image img{max-width:100%;position:absolute}.pdf-page.responsive .pde-rect{max-width:100%;margin-bottom:5px;margin-top:5px}.pdf-page.responsive .pde-rect-inner{margin:5px}.pdf-page h1,.pdf-page h2,.pdf-page h3,.pdf-page h4{font-weight:inherit;line-height:1.2}.pdf-page.responsive h1{font-size:210%}.pdf-page.responsive h2{font-size:180%}.pdf-page.responsive h3{font-size:130%}.pdf-page.responsive h4{font-size:120%}.pdf-page.responsive small,.font_small{font-size:80%}.pdf-page.responsive.table h1,.pdf-page.responsive.table h2,.pdf-page.responsive.table h3,.pdf-page.responsive.table h4{margin:0}.pdf-page.responsive ul{list-style-type:none;margin:0;padding:0}.pde-image-float{float:left;margin-right:10px}.pdf-clear-float{content:"";visibility:hidden;display:block;height:0;clear:both}

.pdf-page-1{width:1200px; height:1697px;
 background-image: url(page0.jpg);}
.pdf-obj-0-4{left:34.08%;top:31.53%;width:57.5%;height:3.182%;}
.pdf-obj-0-5{left:27.92%;top:34.77%;width:21.33%;height:3.123%;}
.pdf-obj-0-6{left:76.33%;top:34.77%;width:15.25%;height:3.123%;}
.pdf-obj-0-7{left:32.42%;top:37.95%;width:59.17%;height:3.182%;}
.pdf-obj-0-8{left:15.83%;top:41.13%;width:75.75%;height:3.182%;}
.pdf-obj-0-9{left:32.42%;top:44.31%;width:59.17%;height:3.182%;}
.pdf-obj-0-10{left:34.42%;top:49.38%;width:13.33%;height:3.182%;}
.pdf-obj-0-11{left:54.17%;top:49.38%;width:13.25%;height:3.182%;}
.pdf-obj-0-12{left:78.42%;top:49.38%;width:9.167%;height:3.182%;}
.pdf-obj-0-13{left:34.42%;top:59.46%;width:13.33%;height:3.182%;}
.pdf-obj-0-14{left:54.17%;top:59.46%;width:13.25%;height:3.182%;}
.pdf-obj-0-15{left:78.42%;top:59.46%;width:9.167%;height:3.182%;}
.pdf-obj-0-16{left:8.583%;top:73.36%;width:82.92%;height:9.664%;}
.pdf-obj-0-17{margin: 0px 0px 0px 0px;
 left:33.58%;top:56.39%;width:1.5%;height:1.179%;}
.pdf-obj-0-18{margin: 0px 0px 0px 0px;
 left:50.25%;top:56.39%;width:1.583%;height:1.179%;}
.pdf-obj-0-19{margin: 0px 0px 0px 0px;
 left:33.58%;top:67.35%;width:1.667%;height:1.237%;}
.pdf-obj-0-20{margin: 0px 0px 0px 0px;
 left:50.25%;top:67.41%;width:1.667%;height:1.179%;}
.pdf-page-2{width:1200px; height:1697px;
 background-image: url(page1.jpg);}
.pdf-page-3{width:1200px; height:1697px;
 background-image: url(page2.jpg);}
.pdf-page-4{width:1200px; height:1697px;
 background-image: url(page3.jpg);}
.pdf-obj-3-5{margin: 0px 0px 0px 0px;
 left:9.5%;top:78.31%;width:3.167%;height:2.239%;}
.pdf-obj-3-6{margin: 0px 0px 0px 0px;
 left:9.5%;top:81.14%;width:3.167%;height:2.18%;}
.pdf-obj-3-7{margin: 0px 0px 0px 0px;
 left:9.5%;top:85.74%;width:3.167%;height:2.18%;}
.pdf-page-5{width:1200px; height:1697px;
 background-image: url(page4.jpg);}
.pdf-obj-4-5{margin: 0px 0px 0px 0px;
 left:9.5%;top:12.61%;width:3.083%;height:2.18%;}
.pdf-obj-4-6{margin: 0px 0px 0px 0px;
 left:9.5%;top:15.62%;width:3.083%;height:2.18%;}
.pdf-obj-4-7{margin: 0px 0px 0px 0px;
 left:9.5%;top:18.5%;width:3.083%;height:2.239%;}
.pdf-obj-4-8{margin: 0px 0px 0px 0px;
 left:9.5%;top:21.51%;width:3.083%;height:2.239%;}
.pdf-obj-4-9{margin: 0px 0px 0px 0px;
 left:9.5%;top:24.34%;width:3.083%;height:2.18%;}
.pdf-obj-4-10{margin: 0px 0px 0px 0px;
 left:9.5%;top:27.52%;width:3.083%;height:2.239%;}
.pdf-obj-4-11{margin: 0px 0px 0px 0px;
 left:9.5%;top:39.89%;width:3.083%;height:2.18%;}
.pdf-obj-4-12{margin: 0px 0px 0px 0px;
 left:9.5%;top:42.78%;width:3.083%;height:2.18%;}
.pdf-obj-4-13{margin: 0px 0px 0px 0px;
 left:9.5%;top:45.79%;width:3.083%;height:2.18%;}
.pdf-obj-4-14{margin: 0px 0px 0px 0px;
 left:9.5%;top:49.09%;width:3.083%;height:2.239%;}
.pdf-obj-4-15{margin: 0px 0px 0px 0px;
 left:9.5%;top:52.09%;width:3.083%;height:2.239%;}
.pdf-obj-4-16{margin: 0px 0px 0px 0px;
 left:9.5%;top:55.04%;width:3.083%;height:2.18%;}
.pdf-obj-4-17{margin: 0px 0px 0px 0px;
 left:9.5%;top:64.88%;width:3.083%;height:2.18%;}
.pdf-obj-4-18{margin: 0px 0px 0px 0px;
 left:9.5%;top:68.3%;width:3.083%;height:2.18%;}
.pdf-obj-4-19{margin: 0px 0px 0px 0px;
 left:9.5%;top:70.89%;width:3.083%;height:2.18%;}
.pdf-obj-4-20{margin: 0px 0px 0px 0px;
 left:9.5%;top:82.26%;width:3.083%;height:2.239%;}
.pdf-obj-4-21{margin: 0px 0px 0px 0px;
 left:9.5%;top:85.5%;width:3.083%;height:2.18%;}
.pdf-obj-4-22{margin: 0px 0px 0px 0px;
 left:9.5%;top:88.39%;width:3.083%;height:2.18%;}
.pdf-page-6{width:1200px; height:1697px;
 background-image: url(page5.jpg);}
.pdf-obj-5-5{left:8.75%;top:11.49%;width:82.25%;height:10.31%;}
.pdf-obj-5-6{font-size: 16.000000px; left:8.583%;top:31.88%;width:82.5%;height:6.541%;}
.pdf-obj-5-7{margin: 0px 0px 0px 0px;
 left:9.333%;top:49.91%;width:3.083%;height:2.239%;}
.pdf-obj-5-8{margin: 0px 0px 0px 0px;
 left:9.333%;top:54.21%;width:3.083%;height:2.18%;}
.pdf-obj-5-9{margin: 0px 0px 0px 0px;
 left:9.333%;top:57.28%;width:3.083%;height:2.239%;}
.pdf-obj-5-10{margin: 0px 0px 0px 0px;
 left:9.333%;top:61.52%;width:3.083%;height:2.239%;}
.pdf-obj-5-11{margin: 0px 0px 0px 0px;
 left:9.333%;top:64.53%;width:3.083%;height:2.239%;}
.pdf-page-7{width:1200px; height:848px;
 background-image: url(page6.jpg);}
.pdf-obj-6-4{left:5.167%;top:21.93%;width:72.58%;height:4.127%;}
.pdf-obj-6-5{left:5.167%;top:27.83%;width:36.25%;height:4.127%;}
.pdf-obj-6-6{left:41.5%;top:27.83%;width:36.25%;height:4.127%;}
.pdf-obj-6-7{left:77.92%;top:27.83%;width:18%;height:4.127%;}
.pdf-obj-6-8{left:5.167%;top:33.73%;width:36.25%;height:4.127%;}
.pdf-obj-6-9{left:41.5%;top:33.73%;width:36.25%;height:4.127%;}
.pdf-obj-6-10{left:5.167%;top:39.62%;width:36.25%;height:4.127%;}
.pdf-obj-6-11{left:41.5%;top:39.62%;width:36.25%;height:4.127%;}
.pdf-obj-6-12{left:77.83%;top:39.62%;width:18%;height:4.127%;}
.pdf-obj-6-13{left:5.167%;top:51.89%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-14{left:40.92%;top:51.89%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-15{left:76.67%;top:51.89%;width:19.25%;height:3.774%;text-align:center;}
.pdf-obj-6-16{left:5.167%;top:55.66%;width:35.67%;height:3.892%;text-align:center;}
.pdf-obj-6-17{left:40.92%;top:55.66%;width:35.67%;height:3.892%;text-align:center;}
.pdf-obj-6-18{left:76.67%;top:55.66%;width:19.25%;height:3.892%;text-align:center;}
.pdf-obj-6-19{left:5.167%;top:59.67%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-20{left:40.92%;top:59.67%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-21{left:76.67%;top:59.67%;width:19.25%;height:3.774%;text-align:center;}
.pdf-obj-6-22{left:5.167%;top:63.56%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-23{left:40.92%;top:63.56%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-24{left:76.67%;top:63.56%;width:19.25%;height:3.774%;text-align:center;}
.pdf-obj-6-25{left:5.167%;top:67.45%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-26{left:40.92%;top:67.45%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-27{left:76.67%;top:67.45%;width:19.25%;height:3.774%;text-align:center;}
.pdf-obj-6-28{left:5.167%;top:71.34%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-29{left:40.92%;top:71.34%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-30{left:76.67%;top:71.34%;width:19.25%;height:3.774%;text-align:center;}
.pdf-obj-6-31{left:5.167%;top:75.24%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-32{left:40.92%;top:75.24%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-33{left:76.67%;top:75.24%;width:19.25%;height:3.774%;text-align:center;}
.pdf-obj-6-34{left:5.167%;top:79.13%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-35{left:40.92%;top:79.13%;width:35.67%;height:3.774%;text-align:center;}
.pdf-obj-6-36{left:76.67%;top:79.13%;width:19.25%;height:3.774%;text-align:center;}
.pdf-obj-6-37{font-size: 16.000000px; left:77.83%;top:22.05%;width:18.17%;height:4.009%;}
.pdf-obj-6-38{font-size: 16.000000px; left:77.92%;top:33.84%;width:17.92%;height:3.774%;}
.pdf-page-8{width:1200px; height:848px;
 background-image: url(page7.jpg);}
.pdf-obj-7-4{left:5.167%;top:46.7%;width:15.33%;height:3.774%;text-align:center;}
.pdf-obj-7-5{left:5.167%;top:50.59%;width:15.33%;height:3.774%;text-align:center;}
.pdf-obj-7-6{left:5.167%;top:54.48%;width:15.33%;height:3.774%;text-align:center;}
.pdf-obj-7-7{left:5.167%;top:58.37%;width:15.33%;height:3.774%;text-align:center;}
.pdf-obj-7-8{left:5.167%;top:62.26%;width:15.33%;height:3.774%;text-align:center;}
.pdf-obj-7-9{left:5.167%;top:66.16%;width:15.33%;height:3.774%;text-align:center;}
.pdf-obj-7-10{left:5.167%;top:70.05%;width:15.33%;height:3.774%;text-align:center;}
.pdf-obj-7-11{left:5.167%;top:73.94%;width:15.33%;height:3.774%;text-align:center;}
.pdf-obj-7-12{left:5.167%;top:77.83%;width:15.33%;height:3.774%;text-align:center;}
.pdf-obj-7-13{font-size: 16.000000px; left:20.58%;top:46.82%;width:15.33%;height:3.42%;}
.pdf-obj-7-14{font-size: 16.000000px; left:20.58%;top:50.71%;width:15.33%;height:3.42%;}
.pdf-obj-7-15{font-size: 16.000000px; left:20.58%;top:54.6%;width:15.33%;height:3.42%;}
.pdf-obj-7-16{font-size: 16.000000px; left:20.58%;top:58.49%;width:15.33%;height:3.42%;}
.pdf-obj-7-17{font-size: 16.000000px; left:20.58%;top:62.5%;width:15.33%;height:3.42%;}
.pdf-obj-7-18{font-size: 16.000000px; left:20.58%;top:66.27%;width:15.33%;height:3.42%;}
.pdf-obj-7-19{font-size: 16.000000px; left:20.58%;top:70.28%;width:15.33%;height:3.42%;}
.pdf-obj-7-20{font-size: 16.000000px; left:20.58%;top:74.17%;width:15.33%;height:3.42%;}
.pdf-obj-7-21{font-size: 16.000000px; left:20.58%;top:77.95%;width:15.33%;height:3.42%;}
.pdf-obj-7-22{font-size: 16.000000px; left:50.58%;top:46.82%;width:16.25%;height:3.42%;}
.pdf-obj-7-23{font-size: 16.000000px; left:50.58%;top:50.59%;width:16.25%;height:3.538%;}
.pdf-obj-7-24{font-size: 16.000000px; left:50.58%;top:54.48%;width:16.25%;height:3.538%;}
.pdf-obj-7-25{font-size: 16.000000px; left:50.58%;top:58.49%;width:16.25%;height:3.538%;}
.pdf-obj-7-26{font-size: 16.000000px; left:50.58%;top:62.38%;width:16.25%;height:3.42%;}
.pdf-obj-7-27{font-size: 16.000000px; left:50.58%;top:66.27%;width:16.25%;height:3.42%;}
.pdf-obj-7-28{font-size: 16.000000px; left:50.58%;top:70.05%;width:16.25%;height:3.538%;}
.pdf-obj-7-29{font-size: 16.000000px; left:50.58%;top:74.06%;width:16.25%;height:3.538%;}
.pdf-obj-7-30{font-size: 16.000000px; left:50.58%;top:77.95%;width:16.25%;height:3.538%;}
.pdf-obj-7-31{font-size: 16.000000px; left:67%;top:46.82%;width:15.17%;height:3.42%;}
.pdf-obj-7-32{font-size: 16.000000px; left:67%;top:50.71%;width:15.17%;height:3.42%;}
.pdf-obj-7-33{font-size: 16.000000px; left:67%;top:54.72%;width:15.17%;height:3.42%;}
.pdf-obj-7-34{font-size: 16.000000px; left:67%;top:58.49%;width:15.17%;height:3.42%;}
.pdf-obj-7-35{font-size: 16.000000px; left:67%;top:62.38%;width:15.17%;height:3.42%;}
.pdf-obj-7-36{font-size: 16.000000px; left:67%;top:66.39%;width:15.17%;height:3.42%;}
.pdf-obj-7-37{font-size: 16.000000px; left:67%;top:70.17%;width:15.17%;height:3.42%;}
.pdf-obj-7-38{font-size: 16.000000px; left:67%;top:74.06%;width:15.17%;height:3.42%;}
.pdf-obj-7-39{font-size: 16.000000px; left:67%;top:78.07%;width:15.17%;height:3.42%;}
.pdf-obj-7-40{margin: 0px 0px 0px 0px;
 left:5.833%;top:22.29%;width:1.083%;height:1.533%;}
.pdf-obj-7-41{margin: 0px 0px 0px 0px;
 left:51.17%;top:22.05%;width:1.083%;height:1.533%;}
.pdf-obj-7-42{margin: 0px 0px 0px 0px;
 left:5.833%;top:24.41%;width:1.083%;height:1.533%;}
.pdf-obj-7-43{margin: 0px 0px 0px 0px;
 left:51.17%;top:24.41%;width:1.083%;height:1.533%;}
.pdf-obj-7-44{margin: 0px 0px 0px 0px;
 left:5.833%;top:28.42%;width:1.083%;height:1.651%;}
.pdf-obj-7-45{margin: 0px 0px 0px 0px;
 left:51.17%;top:26.65%;width:1.083%;height:1.533%;}
.pdf-obj-7-46{margin: 0px 0px 0px 0px;
 left:5.833%;top:30.78%;width:1.083%;height:1.533%;}
.pdf-obj-7-47{margin: 0px 0px 0px 0px;
 left:51.17%;top:28.89%;width:1.083%;height:1.533%;}
.pdf-obj-7-48{margin: 0px 0px 0px 0px;
 left:5.833%;top:33.02%;width:1.083%;height:1.533%;}
.pdf-obj-7-49{margin: 0px 0px 0px 0px;
 left:51.17%;top:31.13%;width:1.083%;height:1.533%;}
.pdf-obj-7-50{margin: 0px 0px 0px 0px;
 left:5.833%;top:35.26%;width:1.083%;height:1.533%;}
.pdf-obj-7-51{margin: 0px 0px 0px 0px;
 left:51.17%;top:33.49%;width:1.083%;height:1.533%;}
.pdf-obj-7-52{left:36.25%;top:47.05%;width:6.75%;height:3.066%;}
.pdf-obj-7-53{left:36.25%;top:50.83%;width:6.75%;height:3.066%;}
.pdf-obj-7-54{left:36.25%;top:54.6%;width:6.75%;height:3.184%;}
.pdf-obj-7-55{left:36.25%;top:58.61%;width:6.75%;height:3.066%;}
.pdf-obj-7-56{left:36.25%;top:62.5%;width:6.75%;height:3.066%;}
.pdf-obj-7-57{left:36.25%;top:66.63%;width:6.75%;height:3.066%;}
.pdf-obj-7-58{left:36.25%;top:70.4%;width:6.75%;height:3.184%;}
.pdf-obj-7-59{left:36.25%;top:74.29%;width:6.75%;height:3.066%;}
.pdf-obj-7-60{left:36.25%;top:78.07%;width:6.75%;height:3.066%;}
.pdf-obj-7-61{left:43.33%;top:47.05%;width:6.75%;height:3.066%;}
.pdf-obj-7-62{left:43.33%;top:78.07%;width:6.75%;height:3.066%;}
.pdf-obj-7-63{left:43.33%;top:50.83%;width:6.75%;height:3.066%;}
.pdf-obj-7-64{left:43.33%;top:54.6%;width:6.75%;height:3.184%;}
.pdf-obj-7-65{left:43.33%;top:58.61%;width:6.75%;height:3.066%;}
.pdf-obj-7-66{left:43.33%;top:62.5%;width:6.75%;height:3.066%;}
.pdf-obj-7-67{left:43.33%;top:66.63%;width:6.75%;height:3.066%;}
.pdf-obj-7-68{left:43.33%;top:70.4%;width:6.75%;height:3.184%;}
.pdf-obj-7-69{left:43.33%;top:74.29%;width:6.75%;height:3.066%;}
.pdf-obj-7-70{left:82.42%;top:47.05%;width:6.75%;height:3.066%;}
.pdf-obj-7-71{left:82.42%;top:78.07%;width:6.75%;height:3.066%;}
.pdf-obj-7-72{left:82.42%;top:50.83%;width:6.75%;height:3.066%;}
.pdf-obj-7-73{left:82.42%;top:54.6%;width:6.75%;height:3.184%;}
.pdf-obj-7-74{left:82.42%;top:58.61%;width:6.75%;height:3.066%;}
.pdf-obj-7-75{left:82.42%;top:62.5%;width:6.75%;height:3.066%;}
.pdf-obj-7-76{left:82.42%;top:66.63%;width:6.75%;height:3.066%;}
.pdf-obj-7-77{left:82.42%;top:70.4%;width:6.75%;height:3.184%;}
.pdf-obj-7-78{left:82.42%;top:74.29%;width:6.75%;height:3.066%;}
.pdf-obj-7-79{left:89.25%;top:47.05%;width:6.833%;height:3.066%;}
.pdf-obj-7-80{left:89.25%;top:78.07%;width:6.833%;height:3.066%;}
.pdf-obj-7-81{left:89.25%;top:50.83%;width:6.833%;height:3.066%;}
.pdf-obj-7-82{left:89.25%;top:54.6%;width:6.833%;height:3.184%;}
.pdf-obj-7-83{left:89.25%;top:58.61%;width:6.833%;height:3.066%;}
.pdf-obj-7-84{left:89.25%;top:62.5%;width:6.833%;height:3.066%;}
.pdf-obj-7-85{left:89.25%;top:66.63%;width:6.833%;height:3.066%;}
.pdf-obj-7-86{left:89.25%;top:70.4%;width:6.833%;height:3.184%;}
.pdf-obj-7-87{left:89.25%;top:74.29%;width:6.833%;height:3.066%;}
.pdf-page-9{width:1200px; height:1697px;
 background-image: url(page8.jpg);}
.pdf-obj-8-5{left:68%;top:16.79%;width:21.58%;height:3.477%;}
